<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'login.css', titulo:'Ingresá'}) %>      

<body>
    <%- include ('../partials/header', {hojaDeEstilo: 'login.css', titulo:'Ingresá'}) %>   
    
    <main>

        <form action="/user/login" method="post" style="line-height : 30px; font-size:18px ;">
             
             <div></div><label for="email">Ingresar correo:</label></div>
             <div class="campos-estilo"><input class="form-input" type="text" name="email"  size="35" 
             <%if (locals.errors && errors.email) { %>
                placeholder="<%= errors.email.msg %>"        
            <% } %>
            ></div>

             <div><label for="pass">Ingresar contraseña:</label></div>
             <div class="campos-estilo"><input class="form-input" type="password" name="pass" size="35"
             <%if (locals.errors && errors.pass) { %>
                placeholder="<%= errors.pass.msg %>"        
            <% } %>
            ></div>

           <div><button type="submit"> <img class="logo" src="../images/ingresar.jpg" alt="Logo_registro" title="Logo_registro" > </button></div> 
           <div><input type="checkbox" name="recordame">Recordarme</div>
           <br>            
           

         <a href="/user/register" class="registrate">ERES NUEVO?, PULSA AQUí!</a>        
           
         </form>

    </main>    
    
    <%- include ('../partials/footer', {hojaDeEstilo: 'login.css', titulo:'Ingresá'}) %>  
</body>
</html>