<html class="letra">
<%- include ('../partials/head', {hojaDeEstilo: 'detail.css' , titulo:'registro'}) %>

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'detail.css', titulo:'registro'}) %>
            <main>
                <br>
                <article class="createProduct">
                <form action="../productos/productCreate" method="POST" enctype="multipart/form-data">
                    <br>

                    <h3>ALTA PRODUCTO</h3>
                
                    <br>
                    <div><label class="form1" for="name">Categoria:</label></div>
                    <div>
                    <select name="category">
                        <% for(let index = 0; index < categories.length;index++) {%> 
                        <option value="<%=categories[index].dataValues.id%>"><%=categories[index].dataValues.name %></option>  
                        <% } %> 
                    </select>
                    </div>
                    <BR>
                    <div><label class="form1" for="name">Nombre del producto:</label></div>
                    <div><input type="text" name="name" placeholder="ej Warsteiner" required></div>
                    <BR>
                    <div><label class="form1" for="name">Marca:</label></div>
                    <div>
                        <select name="brand">
                            <% for(let index = 0; index < brands.length;index++) {%> 
                            <option value="<%=brands[index].dataValues.id%>"><%=brands[index].dataValues.name %></option>  
                        <% } %> 
                        </select>
                    </div>
                    <BR>
                    <div><label class="form1" for="description">Descripción:</label></div>
                    <div><textarea name="description" rows="10" style="width:100%" placeholder="Descripción detallada" ></textarea>
                    </div>
                    <BR>
                    <div><label class="form1" for="image">Seleccionar una imagen de producto:</label></div>
                    <div><input type="file" name="image" accept=".jpg" multiple style="width: 90%;"></div>
                    <BR>
                       
                    <div class="contenedorPrecioStock">
                        <div><label  for="price">Precio</label> 
                        <input type="number" name="price" style="width: 30%;" required>
                        </div>
                        <div><label  for="discount">Descuento: %</label>
                            <input type="number" name="discount"  style="width: 30%"; required>
                        </div>
                        <div><label  for="stock">Stock </label>
                            <input type="number" name="stock"  style="width: 30%"; required>
                        </div>
                    </div>
                    <BR>
                    <div><label  for="oferta">Oferta:</label>
                        <input type="radio" name="oferta" value="SI" required>SI
                        <input type="radio" name="oferta" value="NO" required>NO
                    </div>
                    <BR>

                        <div style="text-align: center" >
                            <button style="text-align: center;font-size: 18px" type="submit">GUARDAR / EDITAR</button>
                            <button style="text-align: center;font-size: 18px"  type="reset">CANCELAR</button>
                            <a href="/createEdit" style="text-decoration: none;"><input style="text-align: center;font-size: 18px"  type="button"  value="VOLVER"></a>
                        </div>
                    <br>
                </form>
                
                </article>
                <br>
            </main>
            <%- include ('../partials/footer', {hojaDeEstilo: 'detail.css' , titulo:'registro'}) %>
    </body>

</html>