<html class="letra">

    <%- include ('../partials/head', {hojaDeEstilo: 'detail.css' , titulo:'Detalle'}) %>

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'detail.css' , titulo:'Detalle'}) %>

            <main>
                <br>

                    <form action="../user/<%=user.id%>" method="POST" enctype="multipart/form-data">

                        <article class="editProduct">

                        <div style="width: 30%;text-align: center;">
                            <img class="imagenOfertas" src="../images/users/<%= user.avatar %> " alt="oferta1" title="oferta1"
                                style="height: fit-content;">
                        </div>
                        <div>
                            <br>
                            <div><h3>EDITAR EL CLIENTE SELECCIONADO</h3></div>
                            <br>
                            <div class="campos-estilo">
                                <label class="form1" for="id">ID cliente: <%=user.id%></label>
                                
                            <!-- <input type="number" name="id" value=<%=user.id%>> -->
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="firstName">Nombre:</label>
                                <input class="form-input" type="text" name="firstName" value="<%=user.firstName%>">
                            </div>
                        
                            <div class="campos-estilo">
                                <label class="form1" for="lastName">Apellido:</label>
                                <input class="form-input" type="text" name="lastName" value="<%=user.lastName%>">
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="email">email:</label>
                                <input class="form-input" type="email" name="email" value=<%=user.email%>>
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="phone">Telefono:</label>
                                <input class="form-input" type="number" name="phone" value=<%=user.phone%>>
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="address">Dirección:</label>
                                <input class="form-input" type="text" name="address" value="<%=user.address%>">
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="city">Ciudad:</label>
                                <input class="form-input" type="text" name="city" value="<%=user.city%>">
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="province">Provincia:</label>
                                <input class="form-input" type="text" name="province" value="<%=user.province%>">
                            </div>

                            <div class="campos-estilo">
                                <label class="form1" for="cp">Cp:</label>
                                <input class="form-input" type="number" name="cp" value=<%=user.cp%>>
                            </div>
               
                            <div class="campos-estilo">
                                <label class="form1" for="birthdate">Fecha de nacimiento:</label>
                                <input class="form-input" type="date" name="birthdate" value=<%=user.birthdate%>>
                            </div>
                            <div>
                                <label for="avatar">Imagen de perfil: <%=user.avatar%></label>   
                                <input type="file" name="avatar" id="avatar" multiple style="font: size 16px;px ;">
                                                                <!-- <input type="file" name="avatar" accept=".jpg" multiple style="font-size:15px ;"  value=<%=user.avatar%>></div> -->
                            </div>
               

                            
                            <div class="buttons_contenedor" >
                                    <div><button class="button"  type="submit">GUARDAR / EDITAR</button>  </div>    
                                    <div><button class="button"   type="reset">CANCELAR</button> </div>  
                                    <div><a href="/user/userList" style="text-decoration: none;"><input class="button" type="button"  value="VOLVER"></a></div>    
                            </div>
                            
                            <BR> 
                    </div>


                    </article>
                        <BR>  
                    </form> 
                <!-- </article> -->
                <br>
            </main>

            <%- include ('../partials/footer', {hojaDeEstilo: 'detail.css' , titulo:'Detalle'}) %>
    </body>

</html>
</body>

</html>