<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'productCart.css', titulo:'carrito'}) %>  


        <script type="text/javascript" >
            function doFunction(){
                var cant1 = document.getElementById("cantidad1").value;        
                var valor_total_1 =cant1*124;
                document.getElementById('cantidad_comprar_1').innerHTML = cant1;
                document.getElementById('valor_total_1').innerHTML = valor_total_1;

                var cant2 = document.getElementById("cantidad2").value;        
                var valor_total_2 =cant2*3500;
                document.getElementById('cantidad_comprar_2').innerHTML = cant2;
                document.getElementById('valor_total_2').innerHTML = valor_total_2;
            }
		</script>
   
    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'productCart.css', titulo:'Carrito'}) %>  
        
        </header>
        <main>
            <br>
            <h3 STYLE="color:white">ARTICULOS CARRITO DE COMPRAS:</h3>
            <br>
            <div >
            <%if (typeof productos != 'undefined') { %>
                <% for(let item of productos) {%> 
        
                    
                    <article class="articulos-carrito">

                        <div style="width: 20%">
                            <img class="imagenOfertas" src="../images/<%= item.cartProducts.dataValues.image %> " alt="oferta1" title="oferta1" style="height: fit-content; width: 25%;">
                        </div>

                    <div  class="descripcionCarrito">        
                            <h4><%= item.cartProducts.dataValues.name %></h4>
                          
                    </div>
                    
                    <div style="width: 10%;font-weight:bolder ;">
                        <div>Precio: </div>
                        <div>Cant: </div>
                        <div>Desc: </div>
                        
                    </div>
                    <div style="width: 10%;">
                        <div class="price" ><%= item.cartProducts.dataValues.price %></div>
                        <div class="qty" ><%= item.qty %></div>
                        <div class="discount" ><%= item.cartProducts.dataValues.discount %> </div>
                        
                        
                    </div>

                    <div style="width:35%;text-align: center;padding: 2%;">
                       <label>Total: </label> <div class="total" style="font-weight:bold;"></div>

                    </div>  
                    <div style="width: 10%;">
                        <form action="/productos/productCartDelete/<%= item.id %>?_method=DELETE" method="POST"  onsubmit="return confirm('Esta seguro de borrar?');">
                            <button type="submit" style="padding: 2%">X</button>
                        </form>
                    </div>         
                </article>
                <% } %> 
                <article class="articulos-carrito">
                    <div>
                        <h4>TOTAL: </h4>
                    </div>
                    <div>
                        <h4 class="cartTotal"></h4>
                    </div>
                </article> 
            
                <% } else {%>   
                    <div>
                        <h4> NO HAY ITEMS</h4>
                    </div>
                <% } %>   
            </div>
            <div style="text-align:center;margin-top: 5%; "><button type="submit" style="border-radius: 5px;border: 2px black solid;padding: 1%;background-color: whitesmoke;color:blue;"><i style="font-size:3em;" class="fas fa-shopping-cart"></i></button></div> 
        <br>
        </main>
        
        <%- include ('../partials/footer', {hojaDeEstilo: 'productCart.css', titulo:'Carrito'}) %>  
        <script src="/js/productCart.js"></script>  
    </body>
    </html>
</body>
</html>