<html class="letra">
    <%- include ('../partials/head', {hojaDeEstilo: 'detail.css', titulo:'Detalle'}) %>     

    <body>
        <%- include ('../partials/header', {hojaDeEstilo: 'detail.css', titulo:'Detalle'}) %>  
       
        <main>

            <br>
            <%if ((typeof productos != 'undefined')&&(productos.length > 0)) { %>
            <% for(let item of productos) {%> 
        
       
            <article class="articulos-carrito">
                <div style="width: 25%;text-align: center;">
                  <img class="imagenOfertas" src="../images/<%= item.image %> " alt="oferta1" title="oferta1" style="height: fit-content; width: 80%;"> 
                </div>
            <div  class="descripcionCarrito">        
                    <h4><%= item.name %></h4>
                    <p><%= item.description%></p>
            </div>
            </div>
            <div style="width:35%;text-align: center;padding: 2%;">
                <div style="font-weight:bold;">Precio: $<%= item.price %></div>
            <form action="/productos/productCart/<%= item.id %>"  onsubmit="myFunction()" method="POST" >
                    <label >Cantidad</label>
                    <select name="cantidad">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select> 
                    <%if (typeof userlog != 'undefined') { %>
                        <div><button  type="submit" style="margin:2%;padding:2%;border-radius: 5px;" >Añadir al carrito</button></div>
                <% }else {%>   
                        <div><button  type="" style="margin:2%;padding:2%;border-radius: 5px;" onclick="return alert('Debes loguearte para poder comprar');">Añadir al carrito</button></div>    
                    <% }%>  
            </form>             
            </div>        
        </article>
        <% } %> 
        <% }else {%>  
            <h4 style="color:white">No hay resultados para mostrar...</h4>
        <% }%>    
        <br>
        </main>
        
        <%- include ('../partials/footer', {hojaDeEstilo: 'detail.css', titulo:'Detalle'}) %>  

    </body>
    </html>
</body>
</html>